/* CSS-Homepage-this area dedicated to homepage, please check with Ralph before changing */
#homepagespotlight {
  background-color: #FFFFFF;
  padding: 10px;
}
#homepagespotlight h1 {
  border: none;
}

#homepageevents {
  margin: 10px auto;
  background-color: #FFFFFF;
  padding: 10px;
  width: 80%;
}

#homepagecaption {
  background-color: #ffffff;
  padding: 2px;
}
#homepagecaption p{
  font-size: 10px;
}
#homepageevents h1 {
  border: none;
}


.homepage_spotlight {

}
